<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<div class="container ">

    <th:block th:include="~{fragments/admin-navbar}"></th:block>
    <div class="container-fluid">
        <div class="row mb-3 mt-3">
            <h1 style="background: beige" class="justify-content-center" th:text="|Total revenue for the chosen period: ${revenue} '$'|"></h1>
        </div>

        <div class="row tm-content-row tm-mt-big justify-content-center">
            <div class="offers row mx-auto d-flex flex-row justify-content-center">
                <div th:each="e: ${ordersCountPerEmployee}" class="card col-sm-6 col-md-3  col-lg-4 m-1 p-0">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/user-picture.jpg" alt="User">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title" th:text="|Employee: ${e.getKey()}|">Car brand</h5>
                        <h6 class="card-title" th:text="|Number of orders closed: ${e.getValue()}|"> </h6>
                    </div>
                    <!--                    <ul class="offer-details list-group list-group-flush">-->
                    <!--                        <li class="list-group-item">-->
                    <!--                            <div class="card-text"><span th:text="'$' + ${product.sellPrice}"></span></div>-->

                    <!--                        </li>-->
                    <!--                    </ul>-->
<!--                    <button class="btn-dark" th:id="${product.id}"  th:value="${product.id}">Add Item</button>-->

                </div>
            </div>
        </div>

    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>

</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {


        // let myfunc = function(){
        //     [[${ordersCountPerEmployee}]].forEach(g=>{
        //         let arr = Array.from(['x',g])
        //         console.log(arr);
        //     });
        //
        // };

        let dataPie = google.visualization.arrayToDataTable([
            ['Worker','Total Orders'],
            ['x',[[${ordersCountPerEmployee}]][0]],
            ['y',5],
            ['z',7]


            // ['Hot Drinks', six],
            // ['Cold Drinks', five],
            // ['Snacks', four],
            // ['Cakes', three],

        ]);

        // Optional; add a title and set the width and height of the chart
        // 'width':550, 'height':400
        let optionsPie = {
            is3D: true,
            width:500, height:500,
            chartArea: {left: 0, top: 0, riwidth: 0, bottom: 0, width: '100%', height: '100%'}
        };

        // Display the chart inside the <div> element with id="piechart"
        let chartPie = new google.visualization
            .PieChart(document.getElementById('googlePiechart'));
        chartPie.draw(dataPie,optionsPie);
    }
</script>

</html>