<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<div class="container ">

    <th:block th:include="~{fragments/admin-navbar}"></th:block>
    <div class="container-fluid">
        <div class="row mb-3 mt-3">
            <h1 style="background: beige" class="justify-content-center" th:text="|Total revenue: ${revenue} EUR|"></h1>
        </div>

        <div class="row tm-content-row tm-mt-big justify-content-center">
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <div id="googlePiechart" style="width: 100%; height: 100%;"></div>

                </div>
            </div>
        </div>

    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>

</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {


        // let myfunc = function(){
        //     [[${ordersCountPerEmployee}]].forEach(g=>{
        //         let arr = Array.from(['x',g])
        //         console.log(arr);
        //     });
        //
        // };

        let dataPie = google.visualization.arrayToDataTable([
            ['Worker','Total Orders'],
            ['x',[[${ordersCountPerEmployee}]][0]],
            ['y',5],
            ['z',7]


            // ['Hot Drinks', six],
            // ['Cold Drinks', five],
            // ['Snacks', four],
            // ['Cakes', three],

        ]);

        // Optional; add a title and set the width and height of the chart
        // 'width':550, 'height':400
        let optionsPie = {
            is3D: true,
            width:500, height:500,
            chartArea: {left: 0, top: 0, riwidth: 0, bottom: 0, width: '100%', height: '100%'}
        };

        // Display the chart inside the <div> element with id="piechart"
        let chartPie = new google.visualization
            .PieChart(document.getElementById('googlePiechart'));
        chartPie.draw(dataPie,optionsPie);
    }
</script>

</html>