<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>


<body>
<div class="container ">
    <th:block sec:authorize="hasRole('ROLE_USER')">
        <th:block th:include="~{fragments/user-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_ROOT')">
        <th:block th:include="~{fragments/admin-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <th:block th:include="~{fragments/admin-navbar}"></th:block>
    </th:block>
    <div class="container mt-lg-5 border-right border-bottom bg-transparent h-100">
        <h1 class="w-100 text-light text-right">User Details</h1>
    </div>
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-white tm-block">
                <div class="row mt-2">
                    <div class="col-12 align-content-center">
                        <div class="card" style="width: 22rem;">
                            <img src="/img/user-picture.jpg" class="tm-product-img-dummy text-center" alt="...">
                            <div class="card-body">
                                <h2 th:text="|UserName: ${user.username}|" class="text-center"></h2>
                                <h5 class="text-center" th:text="|Name: ${user.firstName} ${user.lastName}|"></h5>
                                <h5 class="text-center">Salary:</h5>
                                <h5 class="text-center" th:text=" ${user.salary != null}? ${user.salary}:'(to be set by the employer)'"></h5>
                                <h5 th:if="${user.bonus}" class="text-center" th:text="|Bonus: ${user.bonus} |"></h5>
                                <h5 class="text-center" th:text="|Role: ${user.roles} |"></h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</body>

</html>