<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<div class="container ">
    <th:block sec:authorize="hasRole('ROLE_USER')">
        <th:block th:include="~{fragments/user-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_ROOT')">
        <th:block th:include="~{fragments/admin-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <th:block th:include="~{fragments/admin-navbar}"></th:block>
    </th:block>
    <th:block sec:authorize="hasAnyRole('ROLE_USER')">
        <div class="container mt-lg-5  bg-transparent h-100">
            <div class="row mb-3 mx-auto">
                <div class='button-holder mt-5'>
                    <button id='fetch-button-hot' class='btn btn-info justify-content-center'>Hot Drinks Menu</button>
                    <button id='fetch-button-cold' class='btn btn-info justify-content-center'>Cold Drinks Menu</button>
                    <button id='fetch-button-snack' class='btn btn-info justify-content-center'>Snacks Menu</button>
                    <button id='fetch-button-cake' class='btn btn-info justify-content-center'>Cakes Menu</button>
                    <button id='clear-button' class='btn btn-secondary'>Clear Data</button>

                </div>
                <div id="cont" class='data-container mt-2'>
                    <table id="table-id" style="display: none"  class="table table-hover w-100 text-center align-content-center table-custom">


                    </table>
                </div>
            </div>
        </div>
    </th:block>

        <div class="row tm-content-row tm-mt-big">

            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h4 th:class="text-dark">Roster</h4>
                    <a th:href="@{/users/roster}">
                        <img src="img/roster.jpg" class="img-thumbnail">
                    </a>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h4 th:class="text-dark">Reports</h4>
                    <a th:href="@{/canvasjschart}">
                        <img src="img/chart.jpg" class="img-thumbnail">
                    </a>

                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <h4 th:class="text-dark">Important Contacts</h4>
                    <a th:href="@{/contacts}">
                        <img src="img/contacts.jpg" class="img-thumbnail">
                    </a>

                </div>
            </div>


        </div>
    </div>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>

</body>

<script>
    // jQuery Event handlers
    $('#fetch-button-hot').click(() => {
        fetchByCat('hot-drinks')
    }); // Fetch and render the data

    $('#fetch-button-cold').click(() => {
        fetchByCat('cold-drinks')
    }); // Fetch and render the data

    $('#fetch-button-snack').click(() => {
        fetchByCat('snacks')
    }); // Fetch and render the data
    $('#fetch-button-cake').click(() => {
        fetchByCat('cakes')
    }); // Fetch and render the data

    let fetchByCat = function(category){
        let t = document.getElementById('table-id');
        if (t.style.display === "none") {
            t.style.display = "block";

        }
        let divHeading = ` <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Picture</th>
                    <th>Quantity</th>

                </tr>`;
        $('#table-id').append(divHeading);
        fetch('https://coffeeshop-managemnt.herokuapp.com/fetch/'+category)
            .then((response) => response.json())
            .then((json) => json.forEach((x, y) => {
                let divColumn = ` <tr>
                            <th>${x.id}</th>
                            <th>${x.name}</th>
                            <th>${x.category}</th>
                            <th><img src="${x.pictureUrl}" class="img-thumbnail img-table"></th>
                            <th>${x.quantity}</th>

                            </tr>`
                $('#table-id').append(divColumn);

            }))
    }
    $('#clear-button').click(() => $('#table-id').empty()); // Clear the data

</script>


</html>