<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body id="reportsPage">
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <th:block th:include="~{fragments/navbar}"></th:block>
            </div>
        </div>

        <div class="container mt-lg-5 border-bottom bg-transparent h-100">
            <h1 class="w-100 text-light text-center">𝓒𝓸𝓯𝓯𝓮𝓮𝓢𝓱𝓸𝓹 𝓑&𝓢</h1>
        </div>
    <br/>
        <br/>

            <h2 class="h2 text-center text-light">𝓒𝓸𝓯𝓯𝓮𝓮 𝓲𝓼 𝓵𝓲𝓯𝓮</h2>
            <hr class="my-3"/>
        <h3 class="text-center text-light">Please read the instructions first</h3>
        <!-- Flexbox container for aligning the toasts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-danger" style="background-color: beige">
                    <strong class="mr-auto text-center">Instructions</strong>

                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="toast-body" style="background-color: beige">
                    To check out the ADMIN functionality, use the following credentials:
                    <br>
                    username:admin
                    <br>
                    password:admin
                    <br>
                    To check out the USER functionality, use the following credentials:
                    <br>
                    username:employee1
                    <br>
                    password:123456
                    <br>
                    OR register a new user
                </div>
            </div>
        </div>

        <th:block th:include="~{fragments/footer}"></th:block>
    </div>
</div>

</body>
</html>