<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body id="reportsPage">
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <th:block th:include="~{fragments/navbar}"></th:block>
            </div>
        </div>

        <div class="container mt-lg-5 border-bottom bg-transparent h-100">
            <h1 class="w-100 text-light text-center">𝓒𝓸𝓯𝓯𝓮𝓮𝓢𝓱𝓸𝓹 𝓑&𝓢</h1>
        </div>
    <br/>
        <br/>

            <h2 class="h2 text-center text-light">𝓒𝓸𝓯𝓯𝓮𝓮 𝓲𝓼 𝓵𝓲𝓯𝓮</h2>
            <hr class="my-3"/>
        <h3 class="text-center text-light"><a th:href="@{/users/login}">Login from here and let's get to work</a></h3>


        <th:block th:include="~{fragments/footer}"></th:block>
    </div>
</div>

</body>
</html>