<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>


<body>
<div class="container ">
    <th:block th:include="~{fragments/navbar}"></th:block>
    <div class="container mt-lg-5 border-right border-bottom bg-transparent h-100">
        <h1 class="w-100 text-light text-right">Register</h1>
    </div>
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-white tm-block">
                <div class="row mt-2">
                    <div class="col-12">
                        <form th:action="@{/users/register}" th:object="${userAddBindingModel}" method="post" class="tm-login-form">
                            <div class="input-group mt-3">
                                <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                <input th:field="*{username}" th:errorclass="alert-danger" name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="username" placeholder="Enter username">
                            </div>
                            <div  class="mx-auto" >
                                <small th:each="e : ${#fields.errors('username')}" th:text="${e}"  class="text-danger">First name must be between 2 and 10 characters</small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="firstName" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">First Name</label>
                                <input th:field="*{firstName}" th:errorclass="alert-danger" name="firstName" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="firstName" placeholder="Enter first name">
                            </div>
                            <div  class="mx-auto" >
                                <small th:each="e : ${#fields.errors('firstName')}" th:text="${e}"  class="text-danger">Username must be between 2 and 10 characters</small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="lastName" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Last name</label>
                                <input th:field="*{lastName}" th:errorclass="alert-danger" name="lastName" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="lastName" placeholder="Enter last name">
                            </div>
                            <div  class="mx-auto" >
                                <small th:each="e : ${#fields.errors('lastName')}" th:text="${e}"  class="text-danger">Username must be between 2 and 10 characters</small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                <input th:field="*{password}" th:errorclass="alert-danger"  name="password" type="password" class="form-control validate"
                                       id="password" placeholder="Enter password">
                            </div>
                            <div class="mx-auto" >
                                <small th:each="e : ${#fields.errors('password')}" th:text="${e}"  class="text-danger"></small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="confirmPassword" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Confirm Password</label>
                                <input th:field="*{confirmPassword}" th:errorclass="alert-danger" name="confirmPassword" type="password" class="form-control validate" id="confirmPassword" placeholder="Confirm password" >
                                <div class="mx-auto" >
                                    <small th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}"  class="text-danger">Password must be betweeen 3 and 10 characters</small>
                                </div>
                            </div>
                            <div class="input-group mt-3">
                                <label for="email" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Email</label>
                                <input th:field="*{email}" th:errorclass="alert-danger"  name="email" type="email" class="form-control validate" id="email" placeholder="Enter email">

                            </div>
                            <div class="mx-auto text-center">
                                <small th:each="e : ${#fields.errors('email')}" th:text="${e}"  class="text-danger">Enter valid email address</small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="birthDate" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Birth Date</label>
                                <input th:field="*{birthDate}" th:errorclass="alert-danger"  name="birthDate" type="date" class="form-control validate" id="birthDate" data-large-mode="true"/>
                            </div>
                            <div class="mx-auto text-center align-content-center">
                                <small th:each="e : ${#fields.errors('birthDate')}" th:text="${e}" class="text-danger" >Enter git address following this pattern </small>
                            </div>
                            <div class="input-group mt-3">
                                <label for="address" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Address</label>
                                <input th:field="*{address}" th:errorclass="alert-danger" name="address" type="text" class="form-control validate" id="address" placeholder="Enter address">

                            </div>
                            <div class="mx-auto text-center align-content-center">
                                <small th:each="e : ${#fields.errors('address')}" th:text="${e}" class="text-danger" >Enter git address following this pattern </small>
                            </div>
                            <div class="input-group mt-3">
                                <button type="submit" class="btn btn-primary d-inline-block mx-auto">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="~{fragments/footer}"></th:block>
</body>

</html>